a:hover
{
  opacity: 0.75;
  transition: opacity 0.3s;
}

img.icon
{
  margin: 4px;
}

img.author
{
  float: right;
  margin: 0 0 8px 8px;
}

img.gallery
{
  display: block;
  margin: 0 auto;
  padding: 8px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}
